<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mogo Tournament</title>
        <link href="styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <?php
            global $app;
            $renderer = $app->getContainer()['renderer'];
            $router = $app->getContainer()->get('router');
        ?> 
        <h1>Mogo Tournament</h1>
        <div class="TournamentState">            
            <?= $tournament->GetStateText(); ?>
        </div>
        <h3>Actions</h3>
        <div>
            <ul class="ButtonList">
                <li>
                    <form method="GET" action="<?= $router->pathFor('CreateTeams') ?>">
                        <input
                            type="submit"
                            value="<?= $tournament->State >= \Models\Tournament::TEAMS_CREATED ? "Rec" : "c" ?>reate teams"
                        />
                        <input type="number" name="NumberOfTeams" min="10" max="30" value="13"/>
                    </form>
                </li>
                <li>
                    <button
                        onclick="window.location.replace('<?= $router->pathFor('PlayDivisionGames') ?>');"
                        <?= $tournament->State < \Models\Tournament::TEAMS_CREATED ? "disabled" : "" ?>
                    >
                        <?= $tournament->State >= \Models\Tournament::DIVISION_GAMES_PLAYED ? "Rep" : "P" ?>lay division games
                    </button>
                </li>
                <li>
                    <button
                        onclick="window.location.replace('<?= $router->pathFor('PlayLastGames') ?>');"
                        <?= $tournament->State < \Models\Tournament::DIVISION_GAMES_PLAYED ? "disabled" : "" ?>
                    >
                        <?= $tournament->State >= \Models\Tournament::FINISHED ? "Rep" : "P" ?>lay last games
                    </button>
                </li>
            </ul>
        </div>
        <h3>Team list</h3>
        <div id="TeamListContainer">            
            <?php            
                $response = $renderer->render(new Slim\Http\Response(), 'partial/TeamList.phtml', ['teams' => $tournament->GetTeams()]);
                echo $response->getBody();
            ?>
        </div>
        <h3>Games</h3>
        <div id="DivisionAGamesContainer">
            <h4>Division A</h4>
            <?php
                $DivisionATeams = \Models\Team::FilterDivision(1, $tournament->GetTeams());
                $response = $renderer->render(new Slim\Http\Response(), 'partial/DivisionGamesTable.phtml', ['teams' => $DivisionATeams]);
                echo $response->getBody();
            ?>
        </div>
        <div id="DivisionBGamesContainer">
            <h4>Division B</h4>
            <?php
                $DivisionBTeams = \Models\Team::FilterDivision(2, $tournament->GetTeams());
                $response = $renderer->render(new Slim\Http\Response(), 'partial/DivisionGamesTable.phtml', ['teams' => $DivisionBTeams]);
                echo $response->getBody();
            ?>
        </div>
        <div id="LastGamesContainer">
            <h4>Last games</h4>
            <?php
                $response = $renderer->render(new Slim\Http\Response(), 'partial/LastGamesTable.phtml', ['data' => $tournament->GetDataForLastGamesTable()]);
                echo $response->getBody();
            ?>
        </div>
        <h3>Results</h3>
        <div id="ResultContainer">
            <?php
                $teams = [];
                if ($tournament->State === \Models\Tournament::FINISHED) {
                    $teams = \Models\Team::OrderByRank($tournament->GetTeams());
                }
                $response = $renderer->render(new Slim\Http\Response(), 'partial/ResultTable.phtml', ['teams' => $teams]);
                echo $response->getBody();
            ?>
        </div>
    </body>
</html>
