<?php if (count($teams) === 0 || count($teams[0]->Games()) === 0): ?>
<div class="DivisionGamesNotPlayed">
    Division games not played.
</div>
<?php else: ?>
<?php
    $DivisionChar = "A";
    if ($teams[0]->Division === 2) {
        $DivisionChar = "B";
    }
?>
<table class="DivisionGamesTable">
    <tr>
        <th colspan="<?= count($teams) + 2 ?>">Division <?= $DivisionChar ?></th>
    </tr>
    <tr>
        <td>Teams</td>
        <?php foreach($teams as $team): ?>
        <td><?= $team->Name ?></td>
        <?php endforeach; ?>
        <td>Score</td>
    </tr>
    <?php foreach($teams as $team): ?>
    <tr>
        <td><?= $team->Name ?></td>
        <?php foreach($teams as $opponent): ?>
        <td class="
            <?php
                if ($team === $opponent) {
                    echo "BlackSquare";
                }
            ?>
        ">
            <?php
                if ($team !== $opponent) {                    
                    echo $team->FindGame("D", $opponent->ID)->ScoreString();
                }
            ?>
        </td>
        <?php endforeach; ?>
        <td><?= $team->DivisionGameScore() ?></td>
    </tr>
    <?php endforeach; ?>
</table>
<?php endif; ?>
