<?php if (count($data) === 0): ?>
<div class="LastGamesNotPlayer">
    Last games not played.
</div>
<?php else: ?>
<table class="LastGamesTable">
    <tr>
        <th colspan="2">Quater-final</th>
        <th colspan="2">Semi-final</th>
        <th colspan="2">Final</th>
    </tr>
    <tr>
        <td><?= $data["Q"][0]->Team->Name ?></td>
        <td><?= $data["Q"][0]->ScoreString() ?></td>
        <td />
        <td />
        <td />
        <td />
    </tr>
    <tr>
        <td><?= $data["Q"][0]->Opponent->Name ?></td>
        <td />
        <td />
        <td />
        <td />
        <td />
    </tr>
    <tr>
        <td />
        <td />
        <td><?= $data["S"][0]->Team->Name ?></td>
        <td><?= $data["S"][0]->ScoreString() ?></td>
        <td />
        <td />
    </tr>
    <tr>
        <td />
        <td />
        <td><?= $data["S"][0]->Opponent->Name ?></td>
        <td />
        <td />
        <td />
    </tr>      
    <tr>
        <td><?= $data["Q"][1]->Team->Name ?></td>
        <td><?= $data["Q"][1]->ScoreString() ?></td>
        <td />
        <td />
        <td />
        <td />
    </tr>
    <tr>
        <td><?= $data["Q"][1]->Opponent->Name ?></td>
        <td />
        <td />
        <td />
        <td />
        <td />
    </tr>
    
    <tr>
        <td />
        <td />
        <td />
        <td />
        <td><?= $data["F"]->Team->Name ?></td>
        <td><?= $data["F"]->ScoreString() ?></td>
    </tr>
    <tr>
        <td />
        <td />
        <td />
        <td />
        <td><?= $data["F"]->Opponent->Name ?></td>
        <td />
    </tr>

    <tr>
        <td><?= $data["Q"][2]->Team->Name ?></td>
        <td><?= $data["Q"][2]->ScoreString() ?></td>
        <td />
        <td />
        <td />
        <td />
    </tr>
    <tr>
        <td><?= $data["Q"][2]->Opponent->Name ?></td>
        <td />
        <td />
        <td />
        <td />
        <td />
    </tr>
    <tr>
        <td />
        <td />
        <td><?= $data["S"][1]->Team->Name ?></td>
        <td><?= $data["S"][1]->ScoreString() ?></td>
        <td />
        <td />
    </tr>
    <tr>
        <td />
        <td />
        <td><?= $data["S"][1]->Opponent->Name ?></td>
        <td />
        <td />
        <td />
    </tr>      
    <tr>
        <td><?= $data["Q"][3]->Team->Name ?></td>
        <td><?= $data["Q"][3]->ScoreString() ?></td>
        <td />
        <td />
        <td><?= $data["3rd"]->Team->Name ?></td>
        <td><?= $data["3rd"]->ScoreString() ?></td>
    </tr>
    <tr>
        <td><?= $data["Q"][3]->Opponent->Name ?></td>
        <td />
        <td />
        <td />
        <td><?= $data["3rd"]->Opponent->Name ?></td>
        <td />
    </tr>
</table>
<?php endif; ?>
