<?php if (count($teams) === 0): ?>
<div class="NoResults">
    Tournament is not finished.
</div>
<?php else: ?>
<table>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Result</th>
    </tr>
    <?php foreach($teams as $key => $team): ?>
    <tr>
        <td><?= $key + 1 ?>.</td>
        <td><?= $team->Name ?></td>
        <td><?= $team->Result ?></td>
    </tr>
    <?php endforeach; ?>
</table>
<?php endif; ?>
