<?php if (count($teams) === 0): ?>
<div class="NoTeams">
    No teams created
</div>
<?php else: ?>
<table class="TeamList">
    <tr>
        <th>Name</th>
        <th>Division</th>
    </tr>    
    <?php foreach($teams as $team): ?>
    <tr>
        <td><?= $team->Name ?></td>
        <td><?= $team->Division ?></td>
    </tr>
    <?php endforeach; ?>
</table>
<?php endif; ?>